name: Solar System Workflow

on:
  push:
    branches:
      - main
jobs:

  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: generating the file
        run: echo "Hello World" >> hello.txt

      - name: artifacts upload
        uses: actions/upload-artifact@v4
        with:
          name: bipin.txt
          path: hello.txt



  testing:
    runs-on: ubuntu-latest
    env:
      MANGO_URI: "mongodb://admin:admin123@localhost:27017/superData?authSource=admin"
      MANGO_USERNAME: "admin"
      MANGO_PASSWORD: "admin123"

    steps:
      - name: git checkout
        uses: actions/checkout@v4
      
      - name: dependencies
        run: npm install
        
      - name: unit-testing
        run: npm test 
      


      
        
