name: Solar System Workflow

on:
  push:
    branches:
      - main
jobs:

  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: generating the file
        run: echo "Hello World" >> hello.txt

      - name: artifacts upload
        uses: actions/upload-artifact@v4
        with:
          name: bipin.txt
          path: hello.txt



  testing:
    runs-on: ubuntu-latest
    
    services:
      mongo:
        image: mongo:6
        env:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: admin123
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - run: npm ci

      - name: Run tests
        env:
          MONGO_USERNAME: admin
          MONGO_PASSWORD: admin123
          MONGO_URI: mongodb://admin:admin123@mongo:27017/superData?authSource=admin
        run: npm test

      


      
        
