name: Solar System Workflow

on:
  push:
    branches:
      - main
      - feature
jobs:

  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: generating the file
        run: echo "Hello World" >> hello.txt

      - name: artifacts upload
        uses: actions/upload-artifact@v4
        with:
          name: bipin.txt
          path: hello.txt


  checking_needs:
    runs-on: ubuntu-latest
    steps:

      - name: printing my name
        env: 
          NAME: Bipin
        run: echo "my name is ${{env.NAME}}"


      
        
