name: Solar System Workflow

on:
  push:
    branches:
      - main

jobs:
  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: gitcheckout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: testing
        run: npm test


        
