name: Solar System Workflow

on:
  push:
    branches:
      - main

jobs:
  unit-testing:
    runs-on: ubuntu-latest

    services:
    mongo:
      image: mongo:6
      env:
        MONGO_INITDB_ROOT_USERNAME: admin
        MONGO_INITDB_ROOT_PASSWORD: admin123
      ports:
        - 27017:27017

    steps:
      - name: gitcheckout
        uses: actions/checkout@v4
        
      - name: Setup NodeJS Version
        uses: actions/setup-node@v3
        with:
            node-version: 20

      - name: Install dependencies
        run: npm install

      - name: testing
        run: npm test
        env:
          MONGO_URI: mongodb://admin:admin123@mongo:27017/solar?authSource=admin



        
