name: Solar System Workflow

on:
  push:
    branches:
      - main
      - feature

  pull:
    types:
      - opened
      - closed
    branches:
      - main


jobs:
  unit-testing:
    strategy:
      matrix:
        os: [ubuntu-latest]
        nodejs_version: [18, 19, 20]
      include:
          - nodejs_version: 19
            os: ubuntu-latest
      exclude:
          - nodejs_version: 18
            os: ubuntu-latest

    runs-on: ${{matrix.os}}

    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: nodejs-version
        uses: actions/setup-node@v3
        with:
          version: ${{matrix.nodejs_version}}

      - name: testing
        continue-on-error: true
        run: npm test

      - name: Artifacts
        uses: actions/upload-artifact
        with:
          name: kanny.txt
          path: test-results.xml

  code-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: install dependences
        run: npm install

      - name: nodejs
        uses: actions/setup-node@v3
        with:
          version: 18

      - name: coverage
        continue-on-error: true
        uses: npm run coverage

      - name: Artifact
        uses: actions/upload-artifact
        with:
          name: kanny
          path: coverage
