name: Solar System Workflow

on:
  push:
    branches:
      - main
      - feature
jobs:

  unit-testing:
    needs: matrix-using
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: generating the file
        run: echo "Hello World" >> hello.txt

      - name: artifacts upload
        uses: actions/upload-artifact@v4
        with:
          name: bipin.txt
          path: hello.txt


  checking_needs:
    runs-on: ubuntu-latest
    needs: [unit-testing]
    concurrency:
      group: development
      cancel-in-progress: true
    steps:

      - name: printing my name
        
        run: echo "my name is ${{vars.NAME}} and my friend is ${{secrets.NAME}}"

  
  matrix-using:
    strategy:
      matrix:
        os: [ubuntu-latest, window]
        images: [nginx]

        runs-on: ${{matrix.os}}

        steps:
          - name: git checkout
            uses: actions/checkout@v4

          - name: install 
            run: npm install

          - name: docker
            run: docker run ${{matrix.images}}

          




      
        
